@*@model IEnumerable<EShop.Models.m_cls_Candy>*@
@model CandyListViewModel

<div>
	<h1>@Model.CurrentCategory</h1>
</div>
<div>
	<div class="card-columns">
		@foreach (var candy in Model.Candies)
		{
			
			<partial name="_CandyCard" model="candy" />

		}
	</div>
</div>
