@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3>Please contact us sending email using the email link below</h3>

<email address="admin@io01.app" link-text="contact us"></email>

